{% extends 'base.html.twig' %}

{% block title %} Les Acteurs {% endblock %}

{% block body %}
    {%  for actor in actors %}
        <p>
            <a href="{{ path("app_actor_show", { id: actor.id }) }}">{{actor.name}}</a>
        </p>
    {% endfor %}
{% endblock %}
